body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#map {
  flex: 1;
  width: 100vw;
  height: 100vh;
}

.map-view {
  display: flex;
}

.side-panel {
  background-color: #f2f2f2;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .16);
  display: flex;
  flex-direction: column;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: visible;
  margin: 0;
  width: 350px;
  z-index: 1;
}

.title-header {
  background-color: #1caff6;
  color: #fff;
  padding: 30px 24px 24px 16px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.information {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .11);
  width: 100%;
}

.subtitle-header {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  padding: 16px;
}

.subtitle-content {
  font-size: 14px;
  padding: 24px 16px;
}

/* calendar stuff: https://www.thatsoftwaredude.com/content/6396/coding-a-calendar-in-javascript */

body, *{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.calendar {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

.calendar .dropdown {
  display: none;
  background-color: #fff;
  color: #1caff6;
  text-align: center;
  font-size: 10pt;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60px;
  left: 0px;
  z-index: 2000;
  position: absolute;
}

.calendar .dropdown .dropdown-item {
  cursor:pointer;
  opacity: .7;
  transition: .5s opacity;
}

.calendar .dropdown .dropdown-item:hover {
  opacity: 1;
}

.calendar .years {
  display:none;
}

.calendar .title {
  text-align:center;
  font-size:20pt;
}

.calendar .calendar-btn {
  float: left;
  background-color: #24aeff;
  color: white;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 20%;
  cursor: pointer;
  transition: .5s background-color;
}

.calendar .calendar-btn:hover {
  background-color:#1f71a1;
}

.calendar .year-btn {
  float:right;
}

.calendar .calendar-dates .days .day {
  float:left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size:13pt;
  text-align:center;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.calendar .calendar-dates .days .day.blank {
  background-color: white;
  border:none;
}

.calendar .calendar-dates .days .day.selected {
  background-color: #1caff6;
  color: white;
  cursor:pointer;
  opacity: .5;
  transition: .5s opacity;
}

.calendar .calendar-dates .days .day:hover {
    color: #24aeff;
}

.calendar .calendar-dates .days .day.label {
  height: 20px;
  background-color: white;
  color: black;
  border:none;
  font-weight:bold;
  font-size: 12px;
}

.clear {
  clear:both;
}

.empty {
  color: white;
}

@media only screen and (max-width: 960px) {
  .calendar{
      width: 100%;
      margin: 0px;
      margin: 0px;
      box-sizing: border-box;
      position: relative;
      left: 0px;
  }
}

.infoscreen {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#232323;
  transition: .5s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slider {
  margin-left: 20px;
}

.links {
  text-align: center;
}

.link {
  margin: 5px;
  font-size: 14px;
}